<div class="zensus-search --spacing-20">
  <%= form_tag zensus_search_path, method: :get, class: "" do %>
    <%= search_field_tag 'q', params[:q], placeholder: "Search agents ...", class: "form-control", autofocus: true %>
  <% end %>
</div>