<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('book'), title: 'Phd thesis' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: phdthesis, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(phdthesis.citation, phdthesis), class: 'text-strong' %><br>
    <%= content_tag :span, apa(phdthesis), class: 'text-small' %>
  </td>
</tr>