<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('book'), title: 'Booklet' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: booklet, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(booklet.citation, booklet), class: 'text-strong' %><br>
    <%= content_tag :span, apa(booklet), class: 'text-small' %>
  </td>
</tr>