<tr>
  <td width="5%">
    <%= fa_icon('paragraph') %>
  </td>
  <td>
    <%= in_collection_apa(in_collection) %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: in_collection %>
  </td>
</tr>