<p>
  <strong>Hallo <%= @applicant.name %>!</strong><br>
  Dies ist eine automatisch generierte E-Mail von babylon-online.org. Du erhälst sie, da du 
  eine Anfrage auf Mitgliedschaft im Team <%= @organization.name %> gestellt hattest. 
  Dieser Anfrage wurde entsprochen.
</p>

<p>
  Hilfreiche Links:<br>
  Teams settings <%= @url %>.
</p>
