<% title 'People' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Home', root_url) %>
  <%= content_tag :li, link_to('Explore', explore_url) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<div class="list-group">
  <% @people.each do |person| %>
    <div class="col-md-6" style="margin-bottom:20px;">
      <%= render person %>
    </div>
  <% end %>
</div>