[data-trix-attachment] {
  display: inline-block;
}

span.trix-reference + figcaption,
span.trix-mention + figcaption {
  display: none;
}

trix-mentions, 
trix-references {
  .selectize-control {
    position: fixed
  }
  .selectize-input {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
  }
}

trix-mentions {
  .selectize-control, 
  .selectize-dropdown {
    width: 200px !important;
    z-index: 9999;
  }
}

trix-references {
  .selectize-control, 
  .selectize-dropdown {
    width: 300px !important;
    z-index: 9999;
  }
}

figure {
  span.mention, 
  span.reference {
    color: #444;
    @extend .text-strong;
  }
}

figure.attachment--content {
  display: inline;
  figcaption {
    display: inline;
  }
}

.media {
  .media-body-event {
    @extend .media-body;
    overflow: visible;
    .icon-pre {
      font-size:.7em;
      margin-left:10px;
      @extend .text-small;
      @extend .pull-left;
    }
    .event {
      margin-left:40px;
      a {
        color: #555;
        @extend .text-strong;
        div.author-avatar {
          @extend .media-object;
          @extend .organization-member-avatar;
          height:20px;
          width:20px; 
          background-position:center;
        }
      }
      a:hover {
        text-decoration: none;
        color: #222;
      }
      .author {
        color: #444;
        @extend .text-strong;
      }
      .title {
        color: #444;
        @extend .text-strong;
      }
      .date {
      }
    }
  }
}

.popover {
  max-width: 380px !important;
  border-radius: 2px;
}

.comment, trix-editor {
  figure.attachment--jpg, 
  figure.attachment--png {
      background-color: #FAFBFC;
      border: 1px dashed #0366d6;
      border-radius: 3px;
      img {
          @extend .img-responsive;
          margin-left: auto;
          margin-right: auto;
      }
      figcaption {
          @extend .text-center;
          padding-bottom: 2px;
      }
  }
  figure.attachment--pdf {
      border: 1px dashed #0366d6;
      border-radius: 3px;
      display: inline-block;
      margin-bottom:10px;
      figcaption {
          padding: 2px 7px;
          span.attachment__size {
              @extend .text-small;
          }
      }
      :hover {
          background-color: #F5F5F5;
      }
  }
}