[data-trix-attachment] {
  display: inline-block;
}
span.trix-mention + figcaption {
  display: none;
}

trix-mentions {
  .selectize-control {
    position: fixed
  }
  .selectize-input {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
  }
  .selectize-control, .selectize-dropdown {
    width: 200px !important;
    z-index: 9999;
  }
}

figure {
  span.mention {
    @extend .text-strong;
  }
}

figure.attachment--content {
  display: inline;
  figcaption {
    display: inline;
  }
}

.comment, trix-editor {
  figure.attachment--jpg, figure.attachment--png {
      background-color: #FAFBFC;
      border: 1px dashed #0366d6;
      border-radius: 3px;
      img {
          @extend .img-responsive;
          margin-left: auto;
          margin-right: auto;
      }
      figcaption {
          @extend .text-center;
          padding-bottom: 2px;
      }
  }
  figure.attachment--pdf {
      border: 1px dashed #0366d6;
      border-radius: 3px;
      display: inline-block;
      margin-bottom:10px;
      figcaption {
          padding: 2px 7px;
          span.attachment__size {
              @extend .text-small;
          }
      }
      :hover {
          background-color: #F5F5F5;
      }
  }
}