<div class="row">
  <div class="col-md-12" style="margin:10px 0;">
    <%= render "shared/search" %>
  </div>
  <div class="col-md-12">
    
  </div>
</div>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Search Results</th>
    </tr>
  </thead>

  <tbody>
    <% if @results %>
      <% @results.each do |result| %>
        <tr>
          <td>
            <%= result.inspect %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>
          Empty
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
	<h4>Filter</h4>
	<p>
    List of active filters<br>
    <strong><%= params[:q] %></strong>
  </p>
<% end %>