<% content_for :container do %>
  <div class="locate">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 col-centered">
        <div class="page-header text-center borderless">
          <h2>Locate ::places</h2>
          <p class="text-muted lead">
            Locate is a geographic lookup service which guides you through places 
        and locations.
          </p>
        </div>
        <%= render 'locate/search/box' %>
        <div class="list-group">
          <%= link_to fa_icon('angle-double-right', text: 'Places'), locate_places_path, class: 'list-group-item' %>

        </div>
      </div>

    </div>
  </div>
<% end %>