<% title "Locate" %>

<% content_for :container do %>
  <div class="zensus">
    <div class="row --spacious">
      <div class="col-sm-12 col-md-8 col-centered">
        <div class="page-header text-center borderless">
          <h2>Locate ::places</h2>
          <p class="text-muted lead">
            Locate is a thesaurus service which guides you through places 
        and locations mentioned and used in the Babylon-Universe.
          </p>
        </div>

        <div class="list-group">

        </div>
      </div>

    </div>
  </div>
<% end %>