<% title t('.title') %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>
<% content_for :buttons do %>
  <%= link_to t('.new'), new_oauth_application_path, class: 'btn btn-default text-strong' %>
<% end if can?(:create, Doorkeeper::Application) %>


<div id="oauth-applications-list">
  <p class="text-muted">Applications listet are authenticated and authorized through babili.<p>
  <div class="list-group">
    <%= render @applications %>
  </div>
</div>

<%= render 'shared/links' %>