<tr id="biblio-entry-<%= journal.id %>">
  <td width="5%">
    <%= content_tag :span, fa_icon('copy'), title: 'Journal' %>
  </td>
  <td width="95%">
    <%= link_to journal.name, journal %>
  </td>
</tr>