<div class="row nested-fields activity-fields">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
    <div class="row border-left">
      <div class="col-md-6">
        <%= f.input :property_id, 
          collection: (Zensus::Activity.properties.collect {|p| [ p[:property].first, p[:id] ] }), 
          label: false,
          input_html: {
            class: 'zensus_activity_property',
            style: 'width:300px;'
          } %>
      </div>
      <div class="col-md-6">
        <%= f.input :actable_gid, 
          collection: Zensus::Agent.all+Vocab::Concept.all, 
          value_method: :to_global_id, 
          label_method: :default_name,
          label: false,
          input_html: {
            class: 'zensus_activity_actable',
            style: 'width:300px;'
          } %>
      </div>
      <div class="col-md-12">
        <%= f.input :note, placeholder: 'Note', label: false %>
        <%= content_tag :span, link_to_remove_association(fa_icon('trash', text: 'Delete'), f, class: 'btn btn-default btn-sm'), class: 'pull-right' %>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>  
</div>