<div class="row nested-fields event-relation-fields">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
    <div class="row border-left">
      <div class="col-md-4">
        <%= f.input :property_id, 
          collection: (Zensus::EventRelation.properties.collect {|p| [ p[:property].first, p[:id] ] }), 
          label: false %>
      </div>
      <div class="col-md-8">
        <%= f.input :related_event_id, 
          collection: Zensus::Event.all-[@event], 
          label_method: :description,
          value_method: :id,
          label: false %>
      </div>
      <div class="col-md-12">
        <%= content_tag :span, link_to_remove_association(fa_icon('trash', text: 'Delete'), f, class: 'btn btn-default btn-sm'), class: 'pull-right' %>
      </div>
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>  
</div>