<% content_for :content do %>
  <div class="about-page">
    <%= image_tag('team.jpg')%>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-centered">
          <div class="page-header text-center col-md-12">
            <h1>
              <strong>babylon-online.org</strong> ein digitales Findbuch
            </h1>
            <p class="main-lead">
              Das Portal babylon-online.org ist im Rahmen des Babylon-Projektes entwickelt geworden. 
              Es vernetzt verschiedene Datenpools und funktioniert als zentrales, digitales Findbuch 
              zu allen verfügbaren Daten aus den deutschen Koldewey-Grabungen, seien es Artefakte, 
              Dokumentation, Literatur, beteiligte Personen oder Medien-Dateien.
            </p>
          </div>

          <div class="col-md-6">
            <%= content_tag :h3, link_to('Blog', writer_category_blog_threads_path) %>
            <p class="text-gray sublead">
              Neueste Infos rund um Babylon. Neuigkeiten zur Plattform, zu Datenbanken, Applikationen und 
              Schnittstellen. 
            </p>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-12 --spacious">
            <%= content_tag :h3, 'Latest blog postings' %>
            <ul class="text-gray list-unstyled link-list chevron">
              <% @latest_blog_postings.each do |posting| %>
                <%= content_tag :li, link_to(posting.title, writer_category_blog_date_posting_path(posting.created_at.year, posting.created_at.month, posting)) %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>