<% title "Developers guide" %>

<h2>Authentification & Authorization</h2>
<p>
  Register your app under <%= link_to '/settings/developer/oauth/applications', oauth_applications_path %>. There you will also be able to 
  obtain a client_id and a client_secret.
</p>


<h2>Registry for searchable apis</h2>
<p>
  Register a API Search path under <%= link_to '/settings/admin/oread/applications', settings_admin_oread_applications_path %> to let your data show up in search results. There you will be also able
  to layout or assign the attributes which will be shown.
</p>

<br>
<h2>API design</h2>
<p>
  <strong>obligatory attributes:</strong><br>
  <ul>
    <li><code>['type']</code> <small>your app results scope(s)</small></li>
    <li><code>['full_entry']</code> <small>what is displayed as result text</small></li>
    <li><code>['links']['human']</code> <small>link to results origin url</small></li>
  </ul>
</p>

<p>
  <strong>searchable attributes recommendation:</strong><br>
  <ul>
    <li>name</li>

  </ul>
</p>






<br><strong>Babili current user data</strong>
<p>
  Current User: "/api/me": 
  @access_token.get("/api/me").parsed
</p>
<p>
  Current User projects: "/api/my/projects": 
  @access_token.get("/api/my/projects").parsed
</p>

<p>
  Current User write auth: "/api/my/authorizations/write": 
  @access_token.get("/api/my/authorizations/write").parsed
</p>

<p>
  Current User read auth: "/api/my/authorizations/read": 
  @access_token.get("/api/my/authorizations/read").parsed
</p>



<br><strong>Users</strong>
<p>
  All users: "/api/users": 
  @access_token.get("/api/users").parsed
</p>

<p>
  User with id 2: "/api/users/2": 
  @access_token.get("/api/users/2").parsed
</p>

<br><strong>Projects</strong>
<p>
  All projects: "/api/projects": 
  @access_token.get("/api/projects").parsed
</p>

<p>
  Project with id 2: "/api/projects/2": 
  @access_token.get("/api/projects/2").parsed
</p>













<% content_for :sidebar do %>
	<h4>Verzeichnis</h4>
	<p></p>
<% end %>