<% title 'Collection applications' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Home', root_url) %>
  <%= content_tag :li, link_to('Explore', explore_url) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<div class="row">
  <% @collection_apps.each do |app| %>
    <div class="col-md-6">
      <%= render app, full: true, actions: true %>
    </div>
  <% end %>
</div>