
<p>Startseite aufhübschen (wie ur-online)</p>
Bab-ili / Babylon-Portal
Babylon-Online.org
Titel: The City of Babylon
Learn About (link auf about/xx inaktiv)
Explore (apps und projekte)
	=Datenpools
	-> dort literatur anzeigen mit Foto (Koldewey beim lesen)
	-> Institutionen
	-> Personen
	-> Archivalien
	-> Objekte
	-> Babylon Texte (Pedersen Archive)
	-> Medien
	=Projekte
	
Search all data (inaktiv)


<p>zentrale API suche basteln</p>
<p>about blog</p>
<p>news links</p>
<p>authorisierung</p>

<p>API Dokumentation</p>
<p>logout -> alle angeschlossenen apps auch</p>