<% title 'Organizations' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, link_to('Home', root_url) %>
  <%= content_tag :li, link_to('Explore', explore_url) %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>

<div class="row">
  <% @organizations.each do |organization| %>
    <div class="col-md-12">
      <%= render organization, full: true, actions: true %>
    </div>
  <% end %>
</div>