<div class="nested-fields appellation-part-fields form-inline">
  <%= f.input :type, collection: Zensus::AppellationPart.types, label: false %>
  <%= f.input :body, label: false, placeholder: 'Name element' %>
  <%= f.input :preferred, :input_html => { :checked => f.object.new_record? ? true : f.object.preferred } %>
  <%= link_to_remove_association fa_icon('trash', text: 'Remove'), f, class: 'btn btn-default btn-sm' %>
</div>