<div class="nested-fields link-fields">
  <%= f.input :type, collection: Zensus::Link.types, label: false %>
  <%= f.input :uri, label: false, placeholder: 'URI' %>

  <%= link_to_remove_association fa_icon('trash'), f %>
</div>