<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Someone is awaiting membership verification!</h4>
    <p>
      User <%= @applicant.name %> for Project <%= @project.name %>.<br>
    </p>
    <p>
      Check the memberships list: <%= @url %>.
    </p>
  </body>
</html>