    <div style="margin-bottom:15px;">
      <h4>
        <%= link_to project.name, project %>
      </h4>
      <p class="small text-muted">
        Created on <%= project.created_at.to_formatted_s(:long_ordinal) %>. <%= pluralize( project.memberships.count, 'member' ) %>.
      </p>
      <p class="">
        <%= truncate(project.description, length: 150, separator: ' ', escape: false) %><br>
      </p>
      <hr>
    </div>