<% title 'Your Projects' %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>
<% content_for :buttons do %>
  <%= link_to 'New project', new_project_path, class: 'btn btn-default text-strong' %>
<% end if can?(:create, Project) %>


<div class="list-group">
  <%= render @projects %>
</div>
<%= render 'shared/links' %>