<div class="subhead">
  <h3>New personal access token
  </h3>
</div>

<p>
  Personal access tokens function like ordinary OAuth access tokens. They can be 
  used instead of a password for accessing data over HTTP(S), or can be used to authenticate to the API.
</p>

<%= render 'form', personal_access_token: @personal_access_token %>
