  <div class="row">
    <div class="col-sm-12">
      <%= simple_form_for [@namespace, @thread.discussable, :discussion, @thread] do |f| %>
        <%= f.error_notification %>
        <%= f.input :title %>

        <div class="actions --spacious-20">
          <%= f.submit class: 'btn btn-success pull-right text-strong' %>
           </div>
      <% end %>
    </div>
  </div>
