<% title "Searchable applications" %>

<% content_for :breadcrumbs do %>
  <%= content_tag :li, yield(:title), class: 'active' %>
<% end %>
<% content_for :buttons do %>
  <%= link_to 'New application', new_oread_application_path, class: 'btn btn-default text-strong' %>
<% end if can? :create, Oread::Application %>


<div id="oread-applications-list">
  <p class="text-muted">Applications listet here will offer their data for keywords search.<p>
  <div class="list-group">
    <%= render @applications %>
  </div>
</div>
<%= render 'shared/links' %>