<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('file'), title: 'In book' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: in_book, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(in_book.citation, in_book), class: 'text-strong' %><br>
    <%= content_tag :span, format_citation(in_book), class: 'text-small' %>
  </td>
</tr>