<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('file'), title: 'Misc' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: misc, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(misc.citation, misc), class: 'text-strong' %><br>
    <%= content_tag :span, apa(misc), class: 'text-small' %>
  </td>
</tr>