<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('book'), title: 'Book' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: book, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(book.citation, book), class: 'text-strong' %><br>
    <%= content_tag :span, format_citation(book), class: 'text-small' %>
  </td>
</tr>