<tr id="biblio-entry-<%= serie.id %>">
  <td width="5%">
    <%= content_tag :span, fa_icon('object-group'), title: 'Serie' %>
  </td>
  <td width="95%">
    <%= link_to serie.title, serie %>
  </td>
</tr>