<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('book'), title: 'Techreport' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: techreport, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(techreport.citation, techreport), class: 'text-strong' %><br>
    <%= content_tag :span, format_citation(techreport), class: 'text-small' %>
  </td>
</tr>