<p>
  <strong>Hallo Contact-Team!</strong><br>
  Auf der Webseite ist eine neue Nachricht an uns abgesetzt worden.
</p>

<p>
  <strong><%= @name %></strong> (<em><%= @from %></em>) schrieb am <%= @sent_at %><br><br>
  <%= @body %>
</p>


<br><br><br>
<p>
  babylon-online.org
</p>