.about-page {
  margin-bottom: 80px;
  img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  a {
    color: #0366d6;
  }
  .page-header {
    margin-bottom: 60px;
  }
  .main-lead {
    @extend .lead;
    @extend .text-gray;
  }
  .sublead {
    font-size: 18px;
  }
  .link-list {
    a, a:visited {
      text-decoration: none;
    }
  }
}

.chevron {
  li {
    margin-bottom:5px;
    a {
      color: #0366d6;
      background: url('li-chevron.png') 0 7px no-repeat;
      padding-left:10px;
      font:400 15px/1.6 helvetica,arial,freesans,clean,sans-serif;
      display:block
    }
    a:hover {
      background-position:2px 7px
    }
  }
}