/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap-markdown
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "site";
@import "profiles";
@import "cms";
@import "settings";
@import "about";
@import "toastr";

.text-strong {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-small {
    font-size: small;
}

.text-gray {
    color: #586069 !important;
}

.text-center {
    text-align: center;
}

.table-simple {
    @extend .table-striped;
    border: 1px solid #ddd;
}

a.no-link {
    text-decoration: none;
    color: inherit;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.navbar-default {
    font-weight: bold;
}

.site-user-avatar {
    vertical-align: top;
    border-radius: 3px;
    height:23px;
    width:23px; 
    background-position:center;
    display: inline-block; margin-top:-2px;
}


td {
    .form-group {
        margin: 0;
        div {
            @extend .col-sm-12;
        }
    }
}

div.panel-attach {
    border-radius: 0;
    border-top: 0px;
    margin:0;
    .panel-body {
        margin:0;
        padding:0;
        li {
            .fa {
                padding: 10px 5px;
            }
            .btn {
                margin: 7px 0;
                .fa {
                    padding: 0;
                }
            }
        }
    }
}

.panel {
    border-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;  
}

.subhead {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px #e1e4e8 solid;
}
.--spacious {
    margin-top: 40px;
}
.--spacing {
    margin-bottom: 40px;
}

div.list-group {
    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
        z-index: 2;
        color: #555;
        background-color: #fff;
        border-color: #ddd;
        border-left: 2px solid #F05F40;
    }
}

form {
    span.help-block, p.help-block {
        font-size: small;
    }
}


