/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap-markdown
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "creative";
@import "profiles";
@import "toastr";


.col-centered{
    float: none;
    margin: 0 auto;
}

.about-content, .post-content {
    img {
        display: block;
        max-width: 100%;
        max-height: 800px;
        margin: 1em auto;
    }
    .tooltip-inner {
        max-width: 600px;
    }
    p {
        line-height: 2.4rem;
    }
    p.lead {
        line-height: 2.8rem;
    }
}

#about {
    a {
        color: #d8d8d8;
    }
    img {
        display: none !important;
    }
}

.about-entry img, .post-entry img {
    display: none !important;
}

.toc {
    ul {
        @extend .nav;
        padding-left: 5px;
        li {
            @extend .nav-stacked;
        }
    }
}

td {
    .form-group {
        margin: 0;
        div {
            @extend .col-sm-12;
        }
    }
}

div.panel-attach {
    border-radius: 0;
    border-top: 0px;
    margin:0;
    .panel-body {
        margin:0;
        padding:0;
        li {
            .fa {
                padding: 10px 5px;
            }
            .btn {
                margin: 7px 0;
                .fa {
                    padding: 0;
                }
            }
        }
    }
}

.panel {
    border-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;  
}