/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "creative";
@import "profiles";
@import "toastr";


.col-centered{
    float: none;
    margin: 0 auto;
}

.about-content, .post-content {
    img {
        float: right;
        max-width: 400px;
        max-height: 400px;
    }
}

#about {
    a {
        color: #d8d8d8;
    }
    img {
        display: none !important;
    }
}

.about-entry img, .post-entry img {
    display: none !important;
}

.toc {
    @extend .well;
    ul {
        padding-left: 20px;
    }
}