#matches {
  .selectize-input {
    margin-top:5px;
  }
  #concept_matches_associatable {
    width: 326px;
  }
  #concept_matches_associatable-selectized {
    width: 300px !important;
  }
}

.vocab {
  a {
    color: #0366d6;
    span.no-link { color: #444;}
    h1, h2, h3, h4, h5 {
      color: #0366d6;
    }
  }

  div.schemes {
    h3 {
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
}