#matches {
  .selectize-input {
    margin-top:5px;
  }
  #vocab_match_string {
    width: 326px;
  }
  #vocab_match_string-selectized {
    width: 300px !important;
  }
}

.vocab {
  .heading-block {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
  }
}