ul.pllv {
  list-style: none;
  padding: 0;
}

li.pllve {
  display: inline-block;
  padding: 0 10px;
}

.activity-form {
  .selectize-input {
    margin-top:5px;
  }
  #vocab_match_string {
    width: 326px;
  }
  #zensus_activity_event_id-selectized {
    width: 300px !important;
    max-width: 300px !important;
  }
}