ul.pllv {
  list-style: none;
  padding: 0;
}

li.pllve {
  display: inline-block;
  padding: 0 10px;
}

.activity-form {
  .selectize-input {
    margin-top:5px;
  }
  #vocab_match_string {
    width: 326px;
  }
  #zensus_activity_event_id-selectized {
    width: 300px !important;
    max-width: 300px !important;
  }
}

.zensus {
  form {
    div.links {
      margin-top: 10px;
    }
    div.well {
      padding: 10px;
      margin-bottom: 10px;
    }
  }
  .appellation-parts {
    margin-top: 20px;
    .appellation-part-fields {
      margin-top: 5px;
      a.remove_fields {
        margin-left: 20px;
      }
    }
  }
}