<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('file'), title: 'In proceeding' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: in_proceeding, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(in_proceeding.citation, in_proceeding), class: 'text-strong' %><br>
    <%= content_tag :span, format_citation(in_proceeding), class: 'text-small' %>
  </td>
</tr>