<% content_for :container do %>
  <div class="wrapper biblio">
    <div class="row">
      <div class="col-md-12">
        <%= content_tag :h4, class: 'h-condensed --spacing-20 --spacious-20' do %>
          <%= @type.demodulize.pluralize %>:
          New entry<br>
          <%= content_tag :span, "Will be added to #{@entry.referencations.map{|r| content_tag :em, r.repository.name}.join(' and ')} and the main bibliography".html_safe, class: 'text-gray text-small' %>
        <% end %>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 main">
        <%= render 'form', entry: @entry %>
      </div>
    </div>
  </div>
<% end %>