<tr>
  <td width="5%">
    <%= content_tag :span, fa_icon('book'), title: 'Masterthesis' %>
  </td>
  <td>
    <%= render 'biblio/shared/actions', entry: masterthesis, referencation: local_assigns[:referencation] %>
    <%= content_tag :span, link_to(masterthesis.citation, masterthesis), class: 'text-strong' %><br>
    <%= content_tag :span, format_citation(masterthesis), class: 'text-small' %>
  </td>
</tr>