  <div class="row">
    <div class="col-sm-12">
      Edit a comment on <%= link_to @thread.title, [@namespace, @thread.discussable, :discussion, @thread], class: 'text-strong' %>
      <hr>
      <%= render 'edit', comment: @comment, remote: false %>
    </div>
  </div>